@model MusicLibrary.DAL.Tag
@using MusicLibrary.Helpers
<h3>Albums with tag @Model.Name</h3>
<table class="striped responsive-table">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Details</th>
    </tr>
    @foreach (var album in Model.Albums)
    {
        <tr>
            <td>@album.Title</td>
            <td>@album.Author.Name</td>
            <td>@album.Year</td>
            <td><a>@Html.ActionButton("Details", "Details", "Albums", new { Id = album.Id })</a></td>
        </tr>
    }
</table>
<div class="card">
    <div class="card-content">
        @Html.ActionButton("Back", "Index")
    </div>
</div>