@using MusicLibrary.Helpers
@model MusicLibrary.Models.ArtistViewModel
<table class="striped responsive-table">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td class="multiline">@Model.Description</td>
    </tr>
    <tr>
        <th>Album count</th>
        <td>@Model.AlbumCount</td>
    </tr>
    <tr>
        <th>Last.fm link</th>
        <td><a href="@Model.LastFmUrl">@Model.LastFmUrl</a></td>
    </tr>
</table>
@Html.Partial("DetailsBar")

<h1>Albums</h1>
<table class="striped responsive-table">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Details</th>
    </tr>
    @foreach (var album in Model.Albums)
    {
        <tr>
            <td>@album.Title</td>
            <td>@album.Year</td>
            <td><a>@Html.ActionButton("Details", "Details", "Albums", new {Id = album.Id})</a></td>
        </tr>
    }
</table>