@using MusicLibrary.Helpers
@model IEnumerable<MusicLibrary.Models.ArtistListViewModel>
@Html.Partial("IndexBar")
<table class="striped responsive-table">
    <tr>
        <th>Name</th>
        <th>Number of albums</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var artist in Model)
    {
        <tr>
            <td title="@artist.Description">@artist.Name</td>
            <td>@artist.AlbumCount</td>
            <td>@Html.ActionButton("Details", "Details", new { Id = artist.Id })</td>
            <td>@Html.ActionButton("Edit", "Edit", new { Id = artist.Id })</td>
            <td>@Html.ActionButton("Delete", "Delete", new { Id = artist.Id })</td>
        </tr>
    }
</table>